@font-face {
    font-family: 'Simplon Norm';
    src: url('/fonts/SimplonNorm/SimplonNorm-Regular.woff2') format('woff2');
    font-weight: 400;
  }
  
  @font-face {
    font-family: 'Simplon Norm';
    src: url('/fonts/SimplonNorm/SimplonNorm-Bold.woff2') format('woff2');
    font-weight: 700;
  }
  

.ad_container{
    display: flex;
    justify-content: center;
    padding: 5rem;
}

.ad_container > div {
    width:60%;
}
.ad_container > div > h1 {
    font-weight: normal;
    font-size: 3.6rem;
    line-height: 100%;
    letter-spacing: 1px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-bottom: 2rem;
}

.ad_container > div > p{
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2.5rem;
    letter-spacing: 2px;
    text-align: center;
    /* text-decoration: ellips; */
}

/* FOR MOBILE */
@media (max-width:767px) {
    .ad_container{
        padding: 1rem;
    }

    .ad_container > div {
        width: 100%;
    }
    .ad_container > div > h1 {
        font-weight: normal;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .ad_container > div > p {
        font-weight: normal;
        font-size: 1rem;
        letter-spacing: 0;
        line-height: 1.3rem;
    }
}

/* FOR TABLET */

@media (min-width: 768px) and (max-width: 1024px){
    .ad_container{
        padding: 3rem 
    }
}